body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.guest {
    text-align: center;
}

.home {
    text-align: center;
}
h3 {
    color: white;
    font-size: 25px;
    margin: 10px;
    
}
h1 {
    color: black;
    font-size: 40px;
    margin: 10px;
    padding:20px
}